<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diff_drive" >

<xacro:include filename="$(find nuturtle_description)/urdf/diff_drive.urdf.xacro"/>

<gazebo>
  <plugin name="turtle_drive_plugin" filename="libnuturtle_gazebo_plugin.so">
    <!-- Add in wheel joint names and topics -->
    <left_wheel_joint>left_wheel_axel</left_wheel_joint>
    <right_wheel_joint>right_wheel_axel</right_wheel_joint>
    <sensor_frequency>200</sensor_frequency>
    <wheel_cmd_topic>wheel_cmd</wheel_cmd_topic>
    <sensor_data_topic>sensor_data</sensor_data_topic>
    <encoder_ticks_per_rev>${props['encoder_ticks_per_rev']}</encoder_ticks_per_rev>
    <motor_lim>${props['motor_lim']}</motor_lim>
    <motor_power>${props['motor_power']}</motor_power>
    <motor_torque>${props['motor_torque']}</motor_torque>
  </plugin>
</gazebo>

<gazebo reference="base_link">
  <material>Gazebo/Green</material>
</gazebo>

<gazebo reference="robot_body">
  <material>Gazebo/Green</material>
</gazebo>

<gazebo reference="wheel_left">
  <material>Gazebo/Black</material>
  <mu1>1000</mu1>
  <mu2>1000</mu2>
  <!-- <minDepth>0.001</minDepth> -->
  <!-- <fdir1>1 0 0 </fdir1> -->
  <maxVel>0.1</maxVel>
  <kp>500000</kp>
  <kd>10</kd>
</gazebo>

<gazebo reference="wheel_right">
  <material>Gazebo/Black</material>
  <mu1>1000</mu1>
  <mu2>1000</mu2>
  <!-- <minDepth>0.001</minDepth> -->
  <!-- <fdir1>1 0 0 </fdir1> -->
  <maxVel>0.1</maxVel>
  <kp>500000</kp>
  <kd>10</kd>
</gazebo>

<gazebo reference="caster_bottom">
  <material>Gazebo/White</material>
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <minDepth>0.001</minDepth>
  <maxVel>1.0</maxVel>
  <kp>1000000</kp>
  <kd>100</kd>
</gazebo>

</robot>
