<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diff_drive" >

<xacro:include filename="$(find nuturtle_description)/urdf/diff_drive.urdf.xacro"/>

<gazebo link="robot_body">
  <material>Gazebo/Green</material>
</gazebo>

<gazebo link="wheel_left">
  <material>Gazebo/Black</material>
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <minDepth>0.001</minDepth>
  <fdir1>1 0 0 </fdir1>
  <maxVel>0.1</maxVel>
  <kp>500000</kp>
  <kd>10</kd>
</gazebo>

<gazebo link="wheel_black">
  <material>Gazebo/Black</material>
  <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <minDepth>0.001</minDepth>
  <fdir1>1 0 0 </fdir1>
  <maxVel>0.1</maxVel>
  <kp>500000</kp>
  <kd>10</kd>
</gazebo>

<gazebo link="robot_body">
  <material>Gazebo/White</material>
  <mu1>0.0</mu1>
  <mu2>0.0</mu2>
  <minDepth>0.001</minDepth>
  <maxVel>1.0</maxVel>
  <kp>1000000</kp>
  <kd>100</kd>
</gazebo>

</robot>
