<launch>

  <arg name='robot' default='0' doc='Argument to specify which robot is being used. 0 to uses local machine'/>

  <!-- Create the proper machine based on the provided parameter -->
  <machine name="turtlebot" address="localhost" if="$(eval 0 >= robot)"/>
  <machine name="turtlebot" address="turtlebot$(arg robot)" env-loader="/home/student/install/env.sh" user="student" if="$(eval robot >= 0)"/>

  <!-- Launch the serial node on the correct machine -->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" machine="turtlebot" if="$(eval robot >= 0)">
      <param name="port" value="/dev/ttyACM0"/>
      <param name="baud" value="115200"/>
  </node>

</launch>
