<launch>

  <!-- Launch Settings -->
  <arg name='robot' default='0' doc='Argument to specify which robot is being used. 0 to uses local machine'/>
  <arg name='with_rviz' default="False" doc="launch everything with/without rviz. There is a noticable difference in perfomance with it running. Defaults to without (False)."/>
  <arg name='rviz_file' default="-d $(find nuturtle_description)/config/odom_and_laser.rviz" doc="Config file for rviz."/>

  <!-- Load YAML Files -->
  <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml"/>
  <rosparam command="load" file="$(find rigid2d)/config/frame_link_names.yaml"/>
  <rosparam command="load" file="$(find nuturtle_robot)/config/traj_params.yaml"/>

  <!-- Set up host machine and start serial communications -->
  <include file="$(find nuturtle_robot)/launch/basic_remote.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Launch interface node to the turtlebot -->
  <node name="turtle_interface" pkg="nuturtle_robot" type="turtle_interface" machine="turtlebot" output="screen"/>

  <!-- Launch teleoperation node for the turtlebot -->
  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" if="$(eval robot != 0)"/>

  <!-- Launch odometer node to track the turtlebot encoders -->
  <node name="odometer" pkg="rigid2d" type="odometer" machine="turtlebot">
    <rosparam command="load" file="$(find rigid2d)/config/frame_link_names.yaml"/> <!-- Set private parameters -->
  </node>

  <!-- Publish the robot urdf -->
  <param name="robot_description" command="xacro '$(find nuturtle_description)/urdf/diff_drive.urdf.xacro'" if="$(eval robot >=0)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Launch rviz as a required node -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find nuturtle_description)/config/odom_view.rviz" if="$(eval with_rviz and robot == 0)"/>
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="$(arg rviz_file)" if="$(eval with_rviz and robot != 0)"/>

</launch>
