<launch>
  <!-- launch SLAM node -->
  <node name="slam" pkg="nuslam" type="slam" output="screen" launch-prefix="gdb --args">
    <!-- <remap from="landmark_data" to="real/landmark_data"/> -->

    <param name="map_frame_id" value="map"/>
    <param name="num_landmarks" value="12"/>

    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="left_wheel_joint" value="left_wheel_axel"/>
    <param name="right_wheel_joint" value="right_wheel_axel"/>
  </node>

</launch>
