<launch>
  <!-- Publish slam landmark states -->
  <node name="draw_map_slam" pkg="nuslam" type="draw_map" output="screen" launch-prefix="gdb -ex r --args">
    <remap from="landmark_data" to="slam_landmark_data"/> <!-- Subscribe to the slam estimated data -->

    <param name="frame_id" value="map"/> <!-- Frame to publish the markers relative to -->
    <param name="ns" value="landmarks_slam"/> <!-- marker namespace -->
    <param name="r" value="0"/> <!-- color settings -->
    <param name="g" value="0"/>
    <param name="b" value="1"/>
  </node>

</launch>
