<launch>
  <arg name="robot" value="-1" doc:"used to set launch the turtlebot waypoint navigation in simulation."/>

  <include file="$(find nuturtle_gazebo)/launch/diff_drive_gazebo.launch"/>

  <include file="$(find nuturtle_robot)/launch/diff_drive_gazebo.launch">
    <arg arg="robot" value ="-1"/>
  </include>
  
</launch>
